/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import 'tailwindcss';

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 100%;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  opacity: 0;
}

.ce-header {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0 !important;
}
